.table_div{
    overflow: auto;
    width: 950px;
    height: 500px;
}

.box-btn a{
    margin-left: 50%;
}

h1{
    text-align: center;
}
.btn_atras{
    text-align: center;
    margin-top: 10px;
    font-size: medium;
    padding: 10px;
    cursor: pointer;
}

.box-sesion{
    text-align: right;
}

table {
    overflow: scroll;
    margin-left: 47%;
    border-style: solid;
    padding: 10px;
}

table thead tr th {
    padding: 5px;
}

table tbody tr td {
    padding: 5px;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

