body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  position: absolute;
  width: 98vw;
  height: 98vh;
  /*background-color: aquamarine;*/
  background-image: linear-gradient(to top, skyblue,blue)

}

.card {
  width: 850px;
  height: 480px;
  margin: 80px auto;
  perspective: 1000px;
  border-radius: 20px;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(255, 62, 62);
}

.card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(189, 52, 189);
}

.card-question {
  width: 500px;
  height: 100px;
}

.card-answer,
.card-category {
  width: 350px;
  height: 50px;
}

.card-answer:hover {
  background-color: #ffff00;
}

.card-answer {
  box-shadow: 0px 4px 4px #999;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #999;
}

.card-category,
.card-question,
.card-answer {
  position: relative;
  margin: 15px auto;
  background-color: white;
  text-align: center;
}
